<div class="media text-left py-3">            
    <div class="points mr-4">
      <h1 class="text-center align-middle pt-3">{{ article.votes }}</h1>
      <p class="text-center">Points</p>
    </div>
    <div class="media-body">
      <a href="{{ link }}">
      <h5 class="mt-0">{{ article.title }}</h5>
      </a>
      <p class="text-muted">
        <small>({{ article.link }})</small>
      </p>
      <a class="pr-2" href="" (click)="voteUp()" ><i class="fa fa-arrow-up pr-2"></i>Upvote</a>
      <a href="" (click)="voteDown()" ><i class="fa fa-arrow-down px-2"></i>Downvote</a>
    </div>
</div>
